DEBUG=True
SECRET_KEY=django-insecure-mudar-em-producao
DATABASE_URL=postgres://user:password@localhost:5432/dbname
ALLOWED_HOSTS=localhost,127.0.0.1
REDIS_URL=redis://localhost:6379/0
DINABOX_API_TOKEN=seu_token_aqui
